body {
  
    background: rgb(56, 53, 52);
  }
img{
    width: 320px;
    height: 320px;
    align:"right";
    }

    
.p {
    font-size: 100px;
}

p{
    text-align: justify;
    text-indent: 20px;
}



#img2{
    width: 991px;
    height: 300px;
}

.container {
    display: flex;
    align-items: center;
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

main {
    background: orange;
    margin-top: 20px;
    border-radius: 5px;
  }

  h1{
    text-align: center;
   font-size: 20px;
}

h2{
    text-align: center;
   font-size: 15px ;
}
 
a:link{
    text-align: center;
    font-size: 30px ;
}